<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container justify-content-lg-evenly ">
        <div class="left ">
            <a class="navbar-brand" routerLink="/">campus | <span class="purple">Connect</span></a>
        </div>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="right">
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" aria-current="page">Home <span
                                class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/students">Students</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact-us" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>