<div class="container-fluid" style="margin-top: 6rem;">
    <div class="about-me container-fluid">
        <h1 class="text-center my-5">About Me</h1>
    </div>
    <div class="section-1 d-flex justify-content-evenly align-items-center mx-5">
        <div class="left d-none d-lg-block mx-5">
            <img style="width: 400px;" src="../../../assets/about-1.png" alt="person-left">
        </div>
        <div class="right mx-1 mx-lg-5">
            <p>Hello, my name is Abdul Basit, and I am the creator of Campus Connect, a project that I came up with to
                design a webpage for the landing page of my college. I am a student who has a keen interest in web
                development and design, and I want to showcase my skills and creativity through this project.</p>
        </div>
    </div>
    <!-- <div class="goal-vision container-fluid">
    </div> -->
    <div class="section-2 d-block d-lg-flex justify-content-evenly align-items-center mx-5">
        <div class="left mx-1 mx-lg-5">
            <h1 class=" goal-vision text-center my-5">My Goal</h1>
            <p>My goal is to make Campus Connect a useful and enjoyable platform for college students who want to chat,
                share, learn, and have fun with other students and professors. I want to help students enhance their
                college experience by providing them with a convenient and engaging way to access the information,
                opportunities, and community they need to succeed.</p>
            </div>
            <div class="right mx-lg-5 mx-1">
            <h1 class=" goal-vision text-center my-5">My Vision</h1>
            <p>My vision is to create a platform that can bridge the gap between the online and offline worlds of
                college life. I want to create a platform that can make college life easier, more enjoyable, and more
                productive for students. I want to create a platform that can foster communication and collaboration
                among students and professors. I want to create a platform that can support students in their academic,
                social, and career goals.</p>
        </div>
    </div>
</div>