<footer class="container-fluid mt-4">
    <!-- <div class="vh-100"> -->
    <div id="footer-1" class="d-flex justify-content-around">
        <!-- Important links -->
        <div class=" imp-links flex-column m-3">
            <a class="nav-link" href="#hero">Home</a>
            <a class="nav-link" href="#courses">Courses</a>
            <a class="nav-link" href="#testimonial">Testimonials</a>
            <a class="nav-link" routerLink="/about">About Us</a>
            <a class="nav-link" href="mailto:b4s1t.bakz@gmail.com">Contact Us</a>
        </div>
        <!-- Social Media Sites -->
        <div class="imp-links social-media m-3">
            Social links
            <div id="social-list" class="imp-links d-flex flex-row justify-content-around">
                <a class="nav-link" href="https://facebook.com/abdulb4s1t" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a class="nav-link" href="https://instagram.com/abdulb4s1t" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a class="nav-link" href="https://twitter.com/abdulb4s1t" target="_blank"><i
                        class="fa-brands fa-twitter"></i></a>
                <a class="nav-link" href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a class="nav-link" href="https://snapchat.com/abdulb4s1t" target="_blank"><i
                        class="fa-brands fa-snapchat"></i></a>
            </div>
        </div>
    </div>


    <!-- Bottom -->
    <div class="bottom text-center ">
        Made with <i class="fa-sharp fa-solid fa-heart"></i> by Abdul <span class="purple">Basit.</span>
    </div>
    <!-- </div> -->
</footer>