<div class="container-fluid" style="margin-top: 6rem;">
    <div class="contact-technology container-fluid">
        <h1 class="text-center my-5">My Technologies</h1>
    </div>
    <div class="section-1 d-flex justify-content-evenly align-items-center mx-5">
        <div class="left d-none d-lg-block mx-5">
            <img style="width: 400px;" src="../../../assets/contact-1.png" alt="person-left">
        </div>
        <div class="right mx-5">
            <p>Campus Connect is built using Angular and Bootstrap frameworks, which provide a responsive and
                user-friendly design. I chose Angular because it is a powerful and popular framework for creating
                dynamic and interactive web applications. I chose Bootstrap because it is a widely used and versatile
                framework for creating responsive and mobile-friendly web pages. I also used other web technologies and
                tools, such as HTML, CSS, JavaScript, TypeScript,Git, and VS
                Code.</p>
        </div>
    </div>
</div>