<div class="container-fluid" style="margin-top: 6rem;">
    <div class="contact-technology container-fluid">
        <h1 class="text-center my-5">My Technologies</h1>
    </div>
    <div class="section-1 d-flex justify-content-evenly align-items-center mx-5 ">
        <div class="left d-none d-lg-block  mx-5">
            <img style="width: 400px;" src="../../../assets/contact-1.png" alt="person-left">
        </div>
        <div class="right mx-1 mx-lg-5">
            <p>Campus Connect is built using Angular and Bootstrap frameworks, which provide a responsive and
                user-friendly design. I chose Angular because it is a powerful and popular framework for creating
                dynamic and interactive web applications. I chose Bootstrap because it is a widely used and versatile
                framework for creating responsive and mobile-friendly web pages. I also used other web technologies and
                tools, such as HTML, CSS, JavaScript, TypeScript,Git, and VS
                Code.</p>
        </div>
    </div>
    <div class="section-2 d-block d-lg-flex justify-content-evenly align-items-center mx-5">
        <div class="left mx-1 mx-lg-5">
            <h1 class=" contact-journey text-center my-5">My Journey</h1>
            <p>I started working on Campus Connect in [month/year], and I'm still working on it. It is not finished yet,
                and I'm always trying to make it better and add new things. I have learned a lot from this project, and
                I have also got a lot of help and support from my friends and teachers.
            </p>
        </div>
        <div class="right mx-lg-5 mx-1">
            <h1 class=" contact-us text-center my-5" id="contact">Contact Me</h1>
            <div>If you want to ask me anything or give me any feedback about Campus Connect, please contact me. I would
                love to hear from you and connect with you.😊You can
                email me at abdulb4s1tbakz@gmail.com. You can also follow me on
                <div id="social-list" class="imp-links d-flex flex-row justify-content-around">
                    <a class="nav-link" href="https://facebook.com/abdulb4s1t" target="_blank"><i
                            class="fa-brands fa-facebook"></i></a>
                    <a class="nav-link" href="https://instagram.com/abdulb4s1t" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a class="nav-link" href="https://twitter.com/abdulb4s1t" target="_blank"><i
                            class="fa-brands fa-twitter"></i></a>
                    <a class="nav-link" href="https://youtube.com" target="_blank"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a class="nav-link" href="https://snapchat.com/abdulb4s1t" target="_blank"><i
                            class="fa-brands fa-snapchat"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>